h1{
    text-align:center;
    background-color: cream ;
}

p{
    text-align:center;
    background-color: cream ;
}
body {
    background-color: cream ;
}
#img { 
    height: 500px;
    width: 100%;
}

#objetivo {
font-size:20px;
}

em strong {
    color: turquoise;
}
