h1{
    text-align:center;
    background-color: cream ;
}

p{
    text-align:center;
    background-color: cream ;
}
body {
    background-color: cream ;
}
#img { 
    
}

#objetivo {
font-size:20px
}

em strong {
    color: turquoise;
}
